* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
img {
  max-width: 100%;
}

li {
  list-style: none;
}

span {
  display: inline-block;
}

body {
  font-family: "manrope", sans-serif;
  background-color: #eaf1f7;
}

.preview-container {
  margin-inline: 1rem;
  margin-block: 2rem;
}
.container {
  max-width: 800px;
  margin-inline: auto;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.image img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.content {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.content .inner {
  padding-inline: 1rem; /*spacing left & right sides*/
}

.content h1 {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--very-dark-grayish-blue);
  font-weight: 800;
  margin-bottom: 1rem;
}

.content p {
  line-height: 1.6;
  color: var(--desaturated-dark-blue);
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile .details {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile .info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}

.profile .info span {
  color: var(--desaturated-dark-blue);
}

.share-icon {
  --size: 45px;
  width: var(--size);
  height: var(--size);
  outline: none;
  border: none;
  background-color: #ebf2fa;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: relative;
}

.share-icon img {
  --size: 23px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}

.social-links {
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 100px;
  width: 100%;
  position: absolute;
  padding-inline: 1rem;
  bottom: -8rem;
  transition: bottom 0.3s ease-in-out;
}

.social-links .d-flex {
  display: flex;
  gap: 1rem;
}

.social-links .links {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.social-links span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--desaturated-dark-blue);
}

.active {
  bottom: 0;
}

.share-active {
  background-color: #6e8098;
}

.share-active-img img {
  filter: brightness(10);
}

/* Mobile Media Queries */

@media (min-width: 768px) {
  .preview-container {
    height: 100vh;
    display: grid;
    place-items: center;
    margin-block: 0;
  }

  .container {
    display: flex;
    gap: 1rem;
    overflow: visible;
  }

  .content {
    padding-right: 1rem;
    padding-bottom: 2rem;
    flex-basis: 60%;
  }

  .image {
    flex-basis: 40%;
  }

  .image img {
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    object-fit: cover;
  }

  .social-links {
    width: 250px;
    bottom: 6.5rem;
    right: -4rem;
    border-radius: 1rem;
    height: 50px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .active {
    transform: scale(1);
  }

  .social-links .d-flex {
    justify-content: center;
    width: 100%;
  }

  .triangle {
    --width: 23px;
    width: 0;
    height: 0;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    border-top: var(--width) solid var(--very-dark-grayish-blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.9rem;
  }
}
